body {
     text-align: center;
     background-color: pink;

}

a {
     color: white;
     margin: 40px;
     font-size: 1.5em;
}

a:hover {
     background-color: white;
     color: steelblue;
}

h1,
h3 {
     color: white;
     text-align: center;
}

img {
     width: 20%;
     height: 50;
     /* border: 4px solid steelblue; */
     display: block;
     margin: 0 auto;
}


p {
     /* padding: 10px; */
     text-align: center;
     color: white;
}

.main-para {
     font-size: 1.5em;
     line-height: 1.5em;

}

main p {

     /* margin: 50px auto; */
     text-align: center;
}

#active {
     background-color: white;
     color: steelblue;
}

nav,
footer {
     background-color: #4682b4;
     color: white;
}

footer p {
     font-size: 20px;
     margin: 20px auto;

}