@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@900&family=PT+Sans+Narrow&display=swap");

:root {
  /* change the values below to your chosen font(s) */
  --heading-font: "M PLUS 1p";
  --paragraph-font: "PT Sans Narrow";
}

#background {
  height: 625px;
}

body {
  background-color: #cbcbcb;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

header {
  background-color: #000000b3;

  display: grid;
  grid-template-columns: 150px auto;
}

nav a:hover {
  background-color: rgb(255, 255, 255);
  color: #3d2100;
}

nav a {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding: 35px;
}

nav {
  display: flex;
  justify-content: space-around;
}


.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

/* from column lines 2 to 7 and row lines 5 to 8 */

/* from column lines 6 to 10 and row lines 6 to 7 */

#background {
  height: 125px;
  background-color: #1b1b1b;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

#hero-img {
  width: 100%;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;

  margin-top: -100px;
}



#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}

.logo {
  width: 80px;
  padding: 5px;
  border-radius: 50px;
  background-color: #d1d1d1;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

.home-title {
  color: #3d2100b3;
  font-family: var(--heading-font);
  font-size: 3em;
  margin-top: 10px;
}

h4 {
  color: #000000;
}

h2 {
  margin: 0;
}


.join {
  background-color: #dccd00ce;
  color: #000000;
  text-decoration: none;
  font-size: 3em;
  padding: 10px 25px;
  margin-top: 50px;
  border-radius: 5px;
max-width: max-content;
align-self: center;

}


.join:hover {
  background-color: #000000b3;
  color: #ffffff;
}

.msg {
  /* background-color: #3d2100b3; */
  background-color: #ffffffac;
  line-height: 1.5em;
  padding: 30px;

  grid-column: 6/11;
  grid-row: 6/7;
    padding: 35px;

    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
  color: #000000;
  font-family: var(--paragraph-font);
}

footer {
  background-color: #1b1b1b;
  color: white;
  padding: 25px 50px;
  margin-top: 200px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer h3 {
  color: #cbcbcb;
}

footer a {
  color: #dccd00ce;
}

a:hover {
  color: #cbcbcb;
  text-decoration: underline;

}

footer .social img {
  /* padding-top: 15px; */
  border-radius: 50px;
}







img {
     vertical-align: middle;
     
     
   }
   
   /* Position the image container (needed to position the left and right arrows) */
   .container {
     position: relative;
     
   }
   
   /* Hide the images by default */
   .mySlides {
     display: none;
     height: 100%;
   }
   
   /* Add a pointer when hovering over the thumbnail images */
   .cursor {
     cursor: pointer;
     height: 90px;
   }
   
   /* Next & previous buttons */
   .prev,
   .next {
     cursor: pointer;
     position: absolute;
     top: 40%;
     width: auto;
     padding: 16px;
     margin-top: -50px;
     color: white;
     font-weight: bold;
     font-size: 20px;
     border-radius: 0 3px 3px 0;
     user-select: none;
     -webkit-user-select: none;
   }
   
   /* Position the "next button" to the right */
   .next {
     right: 0;
     border-radius: 3px 0 0 3px;
   }
   
   /* On hover, add a black background color with a little bit see-through */
   .prev:hover,
   .next:hover {
     background-color: rgba(0, 0, 0, 0.8);
   }
   
   /* Number text (1/3 etc) */
   .numbertext {
     color: #f2f2f2;
     font-size: 12px;
     padding: 8px 12px;
     position: absolute;
     top: 0;
   }
   
   /* Container for image text */
   .caption-container {
     text-align: center;
     background-color: #222;
     padding: 2px 16px;
     color: white;
   }
   
   .row:after {
     content: "";
     display: table;
     clear: both;
   }
   
   /* Six columns side by side */
   .column {
     float: left;
     width: 16.66%;
   }
   
   /* Add a transparency effect for thumnbail images */
   .demo {
     opacity: 0.6;
   }
   
   .active,
   .demo:hover {
     opacity: 1;
   }




   




/* for responsivenes: please don't edit */
@media screen and (max-width: 900px) {
     #hero, .home-grid {
         display: block;
         height: auto;
     }
     nav, footer {
         flex-direction: column;
     }
     nav a {
         display: block;
         padding: 15px;
     }
     #hero {
         margin-top: 0;
     }
     #hero-msg {
         margin-top: 0;
     }
     #hero-msg h4 {
         display: none;
     }
     .home-title {
         font-size: 25px;
         color: #6f7364;
     }
     .rivers-card, .camping-card, .rapids-card { 
         margin: 50px auto;
         width: 60%;
     }
     #background {
         display: none;
     }
     .mountains, .msg {
         width: 80%;
         display: block;
         margin: 0 auto;
     }
     footer {
         margin-top: 25px;
     }
 }
 
 
 
 